@charset "UTF-8";

h1{
    font-size: 18px;
}
h3{
    font-size: 16px;
}
div, span, p{
    font-size: 12px;
}
a{
    font-size: 14px;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}